name: Redeploy

on:
    workflow_dispatch:
    push:
        branches: [main]
        paths: ['frontend/**']

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Chekout Code
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4.2.1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: 'us-east-1'

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Build, tag, and push docker image to Amazon ECR
              env:
                REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                REPOSITORY: dagmarlewis_portfolio
                IMAGE_TAG: "latest"
              run: |
                cd frontend
                docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
                docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

            - name: Redeploy portfolio docker container
              run: |
                  aws ssm send-command \
                  --document-name "AWS-RunShellScript" \
                  --comment "Redeploy Nextjs app" \
                  --instance-ids ${{secrets.EC2_ID}} \
                  --region "us-east-1" \
                  --parameters commands="\" 
                  sudo su - ubuntu -c './caddy/redeploy.sh'
                  \"" \
